* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:not(span) {
    font-family: Merriweather,Georgia,serif;
}

body,
html {
    background: #fff;
    width: 100%;
    font-size: 1em!important;
}

a {
    text-decoration: underline;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 52.5em;
    width: 98%;
}

@media (max-width:60em) {
    .main-container {
        margin-left: auto;
        margin-right: auto;
        width: 98%
    }
}

.fullscreen {
    overflow: auto
}

/*barra.css*/

.barra-topo .book-title,
.barra-topo .logo,
.barra-topo .menu-mais,
.barra-topo .nav-principal {
    vertical-align: middle;
    display: inline-block
}

.barra-topo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    line-height: 1
}

.barra-topo.barra-simples {
    position: absolute
}

.barra-topo.barra-simples .container {
    border: none
}

.barra-topo .barra-container {
    background: #fff;
    line-height: 2.75em;
    position: relative;
    border-bottom: 1px solid #ddd
}

.barra-topo .sombra {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1
}

.barra-topo .sombra:after,
.barra-topo .sombra:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(30, 30, 30, .3);
    box-shadow: 0 0 20px rgba(30, 30, 30, .3);
    top: 50%;
    bottom: 2px;
    left: 20px;
    right: 20px;
    -moz-border-radius: 100px/10px;
    border-radius: 100px/10px
}

.barra-topo .sombra:after {
    right: 20px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg)
}

.barra-topo .container {
    text-align: center
}

.barra-topo a {
    text-decoration: none
}

.barra-topo .logo {
    color: #444;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: .4em;
    width: 7em
}

.barra-topo .logo img {
    width: 100%
}

.barra-topo .book-title {
    color: #777;
    font-family: Merriweather, Georgia, serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase
}

.barra-topo .menu-mais {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.barra-topo .menu-mais .config,
.barra-topo .menu-mais .share {
    color: #777;
    font-size: 22px;
    width: 1.8em;
    display: inline-block;
    margin: 0 .15em;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.barra-topo .menu-mais .share:hover {
    color: #3b5998
}

.barra-topo .menu-mais .config:hover {
    color: #111
}

.barra-topo .menu-mais .config.ativo {
    color: #fff;
    background-color: #303030;
    -webkit-box-shadow: 0 -3px 6px rgba(30, 30, 30, .65);
    box-shadow: 0 -3px 6px rgba(30, 30, 30, .65);
    position: relative
}

.barra-topo .menu-mais .config.ativo:after {
    content: '';
    background-color: #303030;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0
}

.barra-topo .menu-mais .icone {
    display: inline-block;
    vertical-align: middle
}

.barra-topo .menu-mais .icone-list {
    font-size: 1.3em
}

.barra-topo .submenu {
    position: absolute;
    right: 0;
    width: 14em;
    background-color: #303030;
    -webkit-box-shadow: 0 0 6px rgba(30, 30, 30, .65);
    box-shadow: 0 0 6px rgba(30, 30, 30, .65);
    border-radius: .35em 0 .35em .35em;
    padding: .15em .5em .25em;
    z-index: -1;
    display: none
}

.barra-topo .ativo .submenu {
    display: block
}

.barra-topo .submenu-sub {
    font-size: .72727273em;
    line-height: 1.5;
    text-align: left
}
.barra-topo .submenu-sub *{
    font-family: Arial, Verdana, sans-serif;
}

.barra-topo .submenu-sub ul {
    list-style-type: none
}

.barra-topo .submenu-sub li {
    color: #fff
}

.barra-topo .submenu-sub li:last-child {
    border-bottom: none
}

.barra-topo .submenu-sub input,
.barra-topo .submenu-sub label,
.barra-topo .submenu-sub select,
.barra-topo .submenu-sub small {
    vertical-align: middle
}

.barra-topo .submenu-sub form {
    padding: .5em 0 .5em .5em
}

.barra-topo .submenu-label {
    color: #bbb;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 400;
    line-height: 1.2;
    display: block
}

.barra-topo .submenu-divisor {
    border-bottom: 1px solid #bbb;
    line-height: 2;
    margin: .5em 0
}

.barra-topo .submenu-link {
    display: block;
    padding-left: .5em;
    line-height: 2.75em;
    vertical-align: middle;
    color: #fff
}

.barra-topo .submenu-link .icone {
    font-size: 1.125em;
    padding: 0 .35em 0 0
}

.barra-topo .submenu-link:hover {
    background: #fcf480;
    color: #333
}

.barra-topo .chapter-nav {
    width: 100%
}

.barra-topo #apostila-busca-input {
    -webkit-appearance: textfield;
    width: 88%;
    font-size: 1em;
    line-height: 1;
    border-radius: .4em;
    border: 1px solid #000;
    padding: .15em .5em
}

.barra-topo #apostila-busca-input::-webkit-search-cancel-button,
.barra-topo #apostila-busca-input::-webkit-search-decoration,
.barra-topo #apostila-busca-input::-webkit-search-results-button,
.barra-topo #apostila-busca-input::-webkit-search-results-decoration {
    display: none
}

.barra-topo .search-form-action {
    background: 0 0;
    border: 0;
    color: #fff;
    font-size: 1.125em;
    vertical-align: middle;
    padding-left: .25em;
    cursor: pointer
}

.barra-topo .barra-offline-update {
    background-color: #ED0;
    border-bottom: 1px solid #ddd;
    color: #444;
    line-height: 2;
    text-align: center;
    display: none;
    width: 100%
}

.barra-topo .barra-offline-update a {
    color: #00D;
    text-decoration: underline
}

.barra-topo .novo:after {
    content: 'novo';
    padding-left: 1.5em;
    font-size: 60%;
    color: #3D3;
    text-transform: uppercase;
    vertical-align: middle
}

@media (max-width:720px) {
    .barra-topo {
        position: absolute
    }
    .barra-topo .logo {
        top: .25em;
        width: 6em
    }
    .barra-topo .book-title {
        margin-top: 3.6em;
        font-size: .75em;
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 2px .5em 0
    }
}

@media (max-height:300px) {
    .barra-topo {
        position: absolute
    }
}

.ios-webapp .barra-topo {
    position: fixed
}

.ios-webapp .barra-topo.barra-simples {
    position: absolute
}


.breadcrumb {
    list-style: none;
    margin-top: 5em;
    line-height: 1.5;
}

.breadcrumb-item {
    display: inline;
}
.breadcrumb-item a {
    color: #155eff
}

@media (max-width: 720px) {
    .breadcrumb {
        margin-top: 5.5em;
    }
}

/*comunidade.css*/

.comunidade {
  margin-top: 3em;
}

.comunidade-chamada {
  color: #222;
  margin-bottom: 2em;
}
.comunidade-chamada {
  line-height: 1.5;
  font-size: 2.2em;
  font-weight: 400;
}

.comunidade-itens {
  padding: 0;
  list-style-type: none;
  margin-left: -3.3333%;
  margin-bottom: 3em;
}

.comunidade-item {
  background: #555;
  display: inline-block;
  position: relative;
  margin-left: 3.3333%;
  margin-bottom: 3.3333%;
  line-height: 110px;
  height: 110px;
  width: 30%;
}

.comunidade-item a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.comunidade-item .sp-comunidade {
  position: absolute;
  top: 50%;
  left: 9%;
}

.comunidade-item h3 {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
  font-family: Arial,sans-serif;
  font-size: 1.9em;
  font-weight: 400;
  text-align: right;
  padding-left: 35%;
  padding-right: 9%;
  width: 100%;
}

.sp-comunidade-blog, .sp-comunidade-editora, .sp-comunidade-facebook, .sp-comunidade-newsletter, .sp-comunidade-online, .sp-comunidade-twitter {
  display: inline-block;
  position: relative;
  line-height: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.sp-comunidade-blog:before, .sp-comunidade-editora:before, .sp-comunidade-facebook:before, .sp-comunidade-newsletter:before, .sp-comunidade-online:before, .sp-comunidade-twitter:before {
  content: '';
  display: block;
  float: left;
}

.sp-comunidade-blog:after, .sp-comunidade-editora:after, .sp-comunidade-facebook:after, .sp-comunidade-newsletter:after, .sp-comunidade-online:after, .sp-comunidade-twitter:after {
  content: '';
  display: block;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.comunidade-blog {
  background-color: #f90;
}

.comunidade-blog:hover {
    background-color: #ffa31a
}

.comunidade-item .sp-comunidade-blog {
  margin-top: -37px;
}

.comunidade-item .sp-comunidade-blog {
  width: 72px;
}

.sp-comunidade-blog:before {
  padding-top: 102.7397%;
}

/*.svg .sp-comunidade-blog:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…85%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-blog:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/blog.png);
}

.comunidade-online {
  background-color: #4a4a4a;
}

.comunidade-online:hover {
    background-color: #575757
}

.comunidade-item .sp-comunidade-online {
  margin-top: -35px;
}

.comunidade-item .sp-comunidade-online {
  width: 90px;
}

.sp-comunidade-online:before {
  padding-top: 80.4597%;
}

/*.svg .sp-comunidade-online:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…43%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-online:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/online.png);
}

.comunidade-facebook {
  background-color: #3b5998;
}

.comunidade-facebook:hover {
    background-color: #4264aa
}

.comunidade-item .sp-comunidade-facebook {
  margin-top: -37px;
  left: 14%;
}

.comunidade-item .sp-comunidade-facebook {
  width: 42px;
}

.sp-comunidade-facebook:before {
  padding-top: 185%;
}

/*.svg .sp-comunidade-facebook:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…46%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-facebook:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/facebook.png);
}

.comunidade-newsletter {
  background-color: #f44f0b;
}

.comunidade-newsletter:hover {
    background-color: #f56123
}

.comunidade-item .sp-comunidade-newsletter {
  margin-top: -27px;
  left: 7%;
}

.comunidade-item .sp-comunidade-newsletter {
  width: 70px;
}

.sp-comunidade-newsletter:before {
  padding-top: 69.6202%;
}

/*.svg .sp-comunidade-newsletter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…D%22ccccccccccccccccccccccc%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-newsletter:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/newsletter.png);
}

.comunidade-editora {
  background-color: #2a2a2a;
}

.comunidade-editora:hover {
    background-color: #373737
}

.comunidade-item .sp-comunidade-editora {
  margin-top: -39px;
  left: 7%;
}

.comunidade-item .sp-comunidade-editora {
  width: 62px;
}

.sp-comunidade-editora:before {
  padding-top: 129.5081%;
}

/*.svg .sp-comunidade-editora:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…29%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-editora:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/editora.png);
}

.comunidade-twitter {
  background-color: #00aced;
}

.comunidade-twitter:hover {
    background-color: #08bbff
}

.comunidade-item .sp-comunidade-twitter {
  margin-top: -36px;
}

.comunidade-item .sp-comunidade-twitter {
  width: 85px;
}

.sp-comunidade-twitter:before {
  padding-top: 81.1111%;
}

/*.svg .sp-comunidade-twitter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…0%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-twitter:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/twitter.png);
}

@media (max-width:53em) {
    .comunidade-itens {
        margin-left: -4%
    }
    .comunidade-item {
        margin-left: 4%;
        width: 46%
    }
    .comunidade-chamada,
    .confirmacao {
        font-size: 1.8em
    }
    .confirmacao {
        margin-top: .5em
    }
    .comunidade-chamada {
        margin-bottom: 1em
    }
}

@media (max-width:34em) {
    .comunidade-itens {
        margin-left: 0
    }
    .comunidade-item {
        margin-left: 0;
        width: 100%
    }
    .comunidade-chamada,
    .confirmacao {
        font-size: 1.2em
    }
    .confirmacao {
        margin-bottom: .4em
    }
}

/*hljs*/

.comunidade {
  margin-top: 3em;
}

.comunidade-chamada {
  color: #222;
  margin-bottom: 2em;
}
.comunidade-chamada {
  line-height: 1.5;
  font-size: 2.2em;
  font-weight: 400;
}

.comunidade-itens {
  padding: 0;
  list-style-type: none;
  margin-left: -3.3333%;
  margin-bottom: 3em;
}

.comunidade-item {
  background: #555;
  display: inline-block;
  position: relative;
  margin-left: 3.3333%;
  margin-bottom: 3.3333%;
  line-height: 110px;
  height: 110px;
  width: 30%;
}

.comunidade-item a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.comunidade-item .sp-comunidade {
  position: absolute;
  top: 50%;
  left: 9%;
}

.comunidade-item h3 {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
  font-family: Arial,sans-serif;
  font-size: 1.9em;
  font-weight: 400;
  text-align: right;
  padding-left: 35%;
  padding-right: 9%;
  width: 100%;
}

.sp-comunidade-blog, .sp-comunidade-editora, .sp-comunidade-facebook, .sp-comunidade-newsletter, .sp-comunidade-online, .sp-comunidade-twitter {
  display: inline-block;
  position: relative;
  line-height: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.sp-comunidade-blog:before, .sp-comunidade-editora:before, .sp-comunidade-facebook:before, .sp-comunidade-newsletter:before, .sp-comunidade-online:before, .sp-comunidade-twitter:before {
  content: '';
  display: block;
  float: left;
}

.sp-comunidade-blog:after, .sp-comunidade-editora:after, .sp-comunidade-facebook:after, .sp-comunidade-newsletter:after, .sp-comunidade-online:after, .sp-comunidade-twitter:after {
  content: '';
  display: block;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.comunidade-blog {
  background-color: #f90;
}

.comunidade-blog:hover {
    background-color: #ffa31a
}

.comunidade-item .sp-comunidade-blog {
  margin-top: -37px;
}

.comunidade-item .sp-comunidade-blog {
  width: 72px;
}

.sp-comunidade-blog:before {
  padding-top: 102.7397%;
}

/*.svg .sp-comunidade-blog:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…85%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-blog:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/blog.png);
}

.comunidade-online {
  background-color: #4a4a4a;
}

.comunidade-online:hover {
    background-color: #575757
}

.comunidade-item .sp-comunidade-online {
  margin-top: -35px;
}

.comunidade-item .sp-comunidade-online {
  width: 90px;
}

.sp-comunidade-online:before {
  padding-top: 80.4597%;
}

/*.svg .sp-comunidade-online:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…43%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-online:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/online.png);
}

.comunidade-facebook {
  background-color: #3b5998;
}

.comunidade-facebook:hover {
    background-color: #4264aa
}

.comunidade-item .sp-comunidade-facebook {
  margin-top: -37px;
  left: 14%;
}

.comunidade-item .sp-comunidade-facebook {
  width: 42px;
}

.sp-comunidade-facebook:before {
  padding-top: 185%;
}

/*.svg .sp-comunidade-facebook:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…46%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-facebook:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/facebook.png);
}

.comunidade-newsletter {
  background-color: #f44f0b;
}

.comunidade-newsletter:hover {
    background-color: #f56123
}

.comunidade-item .sp-comunidade-newsletter {
  margin-top: -27px;
  left: 7%;
}

.comunidade-item .sp-comunidade-newsletter {
  width: 70px;
}

.sp-comunidade-newsletter:before {
  padding-top: 69.6202%;
}

/*.svg .sp-comunidade-newsletter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…D%22ccccccccccccccccccccccc%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-newsletter:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/newsletter.png);
}

.comunidade-editora {
  background-color: #2a2a2a;
}

.comunidade-editora:hover {
    background-color: #373737
}

.comunidade-item .sp-comunidade-editora {
  margin-top: -39px;
  left: 7%;
}

.comunidade-item .sp-comunidade-editora {
  width: 62px;
}

.sp-comunidade-editora:before {
  padding-top: 129.5081%;
}

/*.svg .sp-comunidade-editora:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…29%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-editora:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/editora.png);
}

.comunidade-twitter {
  background-color: #00aced;
}

.comunidade-twitter:hover {
    background-color: #08bbff
}

.comunidade-item .sp-comunidade-twitter {
  margin-top: -36px;
}

.comunidade-item .sp-comunidade-twitter {
  width: 85px;
}

.sp-comunidade-twitter:before {
  padding-top: 81.1111%;
}

/*.svg .sp-comunidade-twitter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…0%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-twitter:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/twitter.png);
}

@media (max-width:53em) {
    .comunidade-itens {
        margin-left: -4%
    }
    .comunidade-item {
        margin-left: 4%;
        width: 46%
    }
    .comunidade-chamada,
    .confirmacao {
        font-size: 1.8em
    }
    .confirmacao {
        margin-top: .5em
    }
    .comunidade-chamada {
        margin-bottom: 1em
    }
}

@media (max-width:34em) {
    .comunidade-itens {
        margin-left: 0
    }
    .comunidade-item {
        margin-left: 0;
        width: 100%
    }
    .comunidade-chamada,
    .confirmacao {
        font-size: 1.2em
    }
    .confirmacao {
        margin-bottom: .4em
    }
}

/*lead-capture.css*/

.lead-capture-overlay,.lead-capture-popup {
	display: none
}

.lead-capture-active .lead-capture-overlay,.lead-capture-active .lead-capture-popup {
	display: block
}

.lead-capture-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: .25
}

.lead-capture-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100001;
	max-width: 800px;
	width: 90%;
	height: 90%;
	background: #fff;
	border: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.6)
}

.lead-capture-container {
	display: flex;
	height: 100%
}

@media (min-width: 600px) {
	.lead-capture-popup {
		max-height:500px
	}

	.lead-capture-img {
		background: url(/imagens/apostilas/apostilas-foto.jpg) 75% 0 no-repeat #fff;
		background-size: cover;
		width: 40%
	}

	.lead-capture-form {
		width: 60%
	}
}

.lead-capture-form {
	background: #EDEDED;
	color: #333;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 1.4
}

.lead-capture-form h3 {
	color: #fff;
	font-weight: 400;
	background: #333;
	padding: 1em;
	text-align: center
}

.lead-capture-form p {
	padding: 1em 2em;
	background: #fff
}

.lead-capture-form form {
	padding: 2em
}

.download-apostila-label {
	display: none
}

.download-apostila-button {
	display: block
}

.lead-capture-close {
	-webkit-appearance: none;
	background: #333;
	color: #fff;
	border: 0;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2px 7px 5px;
	line-height: 1;
	font-size: 20px
}

/*navigation.css*/

.nav-simple-chapter:hover,
.nav-simple-item {
    text-decoration: none
}

.nav-simple ol,
.nav-simple ul {
    list-style-position: inside
}

.nav-simple {
    background: #f0f0f0;
    padding: 1em;
    margin-bottom: 4em;
}

.nav-simple:after {
    content: '';
    display: block;
    clear: both
}

.nav-simple-item {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.25em;
    line-height: 1.5;
    max-width: 320px;
    width: 45%
}

.nav-simple-item:first-child {
    float: left;
    text-align: left
}

.nav-simple-item:last-child {
    float: right;
    text-align: right
}

.nav-simple-type {
    color: #888;
    font-size: .7em;
    padding-bottom: .4em;
    text-transform: uppercase
}

.nav-simple-chapter {
    color: #00E;
    display: block
}

.nav-simple-chapter:active {
    color: red
}

.nav-simple-chapter:visited {
    color: #551A8B
}

@media (max-width:37em) {
    .nav-simple-item {
        max-width: 100%;
        width: 100%
    }
    .nav-simple-item:last-child {
        margin-top: 1em;
        text-align: left
    }
}

/*sumario.css*/

.intro-titulo {
    color: #202020;
    font-family: Merriweather, Georgia, serif;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4
}

.intro-titulo span {
    color: #707070;
    font-size: 60%;
    display: block;
    padding-bottom: .5em;
    padding-right: 7em
}

.intro {
    position: relative
}

.intro .intro-abertura {
    margin-bottom: 3em;
    position: relative
}

.intro .intro-icone {
    width: 100%
}

.intro .intro-logo {
    margin: 7% 0;
    width: 88%
}

.intro .intro-logos {
    background-color: #0082c7;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    width: 15em
}

.intro p,
.sumario {
    color: #202020;
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
    line-height: 1.6
}

.intro .intro-titulo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5.5em;
    padding-bottom: .3em;
    margin: 0;
}

.intro p {
    font-size: 1.25em;
    margin: 1em 0;
    clear: both
}

@media (max-width:44em) {
    .intro-abertura {
        font-size: 80%
    }
}

@media (max-width:34em) {
    .intro-abertura {
        font-size: 70%
    }
}

@media (max-width:28em) {
    .intro-abertura {
        font-size: 60%
    }
}

@media (max-width:25em) {
    .intro-abertura {
        font-size: 50%
    }
}

@media (max-width:22em) {
    .intro-abertura {
        font-size: 45%
    }
}

@media (max-width:19.5em) {
    .intro-abertura {
        font-size: 35%
    }
}

.sumario {
    font-size: 1.25em;
    font-style: normal;
    max-width: 42em
}

.sumario .sumario-titulo {
    font-size: 2.1em;
    font-variant: small-caps;
    line-height: 1.35;
    padding: 1em 0
}

.sumario ol {
    list-style-position: inside
}

.sumario ol ol {
    margin: .2em 0 .8em 2em;
    font-size: .9em;
    list-style: none;
}

@media (max-width:37em) {
    .intro p,
    .sumario {
        font-size: .9375em
    }
}

.comunidade {
    margin-top: 3em
}

/*tubaina.css*/



.tubaina {
  color: #202020;
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  line-height: 1.6;
  padding: 4em .5em 0;
  max-width: 42em;
}

.tubaina .chapterHeader {
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.25;
}

.tubaina .book-chapter {
  font-size: 2.1em;
  margin: .5em 0 1em;
}

.tubaina .book-chapter + p em {
  display: block;
  font-style: italic;
  text-align: right;
}

.tubaina .book-chapter + p em:after {
  display: block;
  text-align: right;
}

.tubaina p {
  margin: 1.25em 0;
  text-align: left;
  text-indent: 1.25em;
}

.tubaina ol, .tubaina ul {
  list-style-position: inside;
  margin: 1.25em 0;
}

.tubaina li {
  margin: 1em 0;
}

.tubaina h2 {
  font-size: 1.3em;
  font-variant: small-caps;
  line-height: 1.35;
  padding-top: 1.5em;
}

.tubaina h2 + h3 {
    margin-top: 1.25em;
}

.tubaina img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: 100%; /* o max-width pode ser sobreescrito via style */
}

.tubaina blockquote {
    border: 1px solid #000;
    margin: 1.5em 0;
    padding: 1.5em;
    display: block;
}

.tubaina blockquote p {
    text-indent: 0;
}

.tubaina blockquote p:first-child {
    margin-top: 0;
}

.tubaina code {
  font-family: monospace,serif;
  font-size: 1.15em;
}

.tubaina pre {
    font-family: monospace,serif;
    overflow: auto;
}

.tubaina pre code, .tubaina pre kbd, .tubaina pre pre, .tubaina pre samp, .tubaina pre span {
  font-family: monospace,serif;
  font-size: 1em;
}

@media (max-width:37em) {
    .tubaina {
        font-size: .9375em
    }
}

/*icones.css*/

@font-face {
	font-family: CaelumApostilas4;
	src: url(fonts/CaelumApostilas4.eot);
	src: url(fonts/CaelumApostilas4.eot?#iefix) format('embedded-opentype'),url(fonts/CaelumApostilas4.woff) format('woff'),url(fonts/CaelumApostilas4.ttf) format('truetype'),url(fonts/CaelumApostilas4.svg#CaelumApostilas4) format('svg');
	font-weight: 400;
	font-style: normal
}

.icone-CS-14:before,.icone-FJ-11:before,.icone-FJ-16:before,.icone-FJ-21:before,.icone-FJ-22:before,.icone-FJ-28:before,.icone-FN-13:before,.icone-RR-71:before,.icone-WD-43:before,.icone-browser:before,.icone-caelum-logo:before,.icone-facebook:before,.icone-house:before,.icone-install:before,.icone-list:before,.icone-plus:before,.icone-search:before,.icone-star:before {
	font-family: CaelumApostilas4;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icone-CS-14+.ir,.icone-FJ-11+.ir,.icone-FJ-16+.ir,.icone-FJ-21+.ir,.icone-FJ-22+.ir,.icone-FJ-28+.ir,.icone-FN-13+.ir,.icone-RR-71+.ir,.icone-WD-43+.ir,.icone-browser+.ir,.icone-caelum-logo+.ir,.icone-facebook+.ir,.icone-house+.ir,.icone-install+.ir,.icone-list+.ir,.icone-plus+.ir,.icone-search+.ir,.icone-star+.ir {
	display: none
}

.icone-house:before {
	content: "\e000"
}

.icone-list:before {
	content: "\e001"
}

.icone-facebook:before {
	content: "\e003"
}

.icone-star:before {
	content: "\e004"
}

.icone-plus:before {
	content: "\e005"
}

.icone-install:before {
	content: "\e006"
}

.icone-browser:before {
	content: "\e002"
}

.icone-search:before {
	content: "\e007"
}

.icone-caelum-logo:before {
	content: "\e008"
}

.icone-RR-71:before {
	content: "\e00e"
}

.icone-FJ-16:before,.icone-FJ-22:before {
	content: "\e00c"
}

.icone-WD-43:before {
	content: "\e00a"
}

.icone-CS-14:before {
	content: "\e00b"
}

.icone-FJ-11:before {
	content: "\e00d"
}

.icone-FJ-21:before {
	content: "\e00f"
}

.icone-FJ-28:before {
	content: "\e010"
}

.icone-FN-13:before {
	content: "\e009"
}

.icone-caelum-logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	font-size: 7.5em;
	height: .31251251em
}

.icone-caelum-logo.big {
	font-size: 12.5em
}
