* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:not(span) {
    font-family: Merriweather,Georgia,serif;
}

body {
    background: #fff;
    width: 100%;
}

a {
    text-decoration: underline;
}

.container {
    clear: both;
    margin: 0 auto;
    max-width: 52.5em;
    width: 98%;
}

.intro {
    position: relative;
}

.intro .intro-abertura {
    margin-bottom: 3em;
    position: relative;
}

.intro .intro-logos {
    background-color: #0082c7;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    width: 15em;
}

.intro .intro-icone {
    width: 100%;
}

.intro .intro-logo {
    margin: 7% 0;
    width: 88%;
}

.intro .intro-titulo {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5.5em;
    padding-bottom: .3em;
}

.intro-titulo {
    color: #202020;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.intro-titulo span {
    color: #707070;
    font-size: 60%;
    display: block;
    padding-bottom: .5em;
    padding-right: 7em;
}

.intro .intro-conteudo p {
    color: #202020;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.6;
    margin: 1em 0;
    clear: both;
}

.sumario {
    color: #202020;
    font-size: 1.25em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    max-width: 42em;
}

.sumario .sumario-titulo {
    font-size: 2.1em;
    font-variant: small-caps;
    line-height: 1.35;
    padding: 1em 0;
}

.sumario ol {
    list-style-position: inside;
}

.sumario ol ul {
    margin: .2em 0 .8em 2em;
    font-size: .9em;
    list-style-type: none;
}

.barra-topo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    line-height: 1;
}

.barra-topo .container {
    text-align: center;
}

.barra-topo .barra-container {
    background: #fff;
    line-height: 2.75em;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.barra-topo .sombra {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.barra-topo .sombra:after, .barra-topo .sombra:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(30,30,30,.3);
  box-shadow: 0 0 20px rgba(30,30,30,.3);
  top: 50%;
  bottom: 2px;
  left: 20px;
  right: 20px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.barra-topo .sombra:after {
  right: 20px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.barra-topo .logo {
    color: #444;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: .4em;
    width: 7em;
    display: inline-block;
    vertical-align: middle;
}

.barra-topo .book-title {
    color: #777;
    display: inline-block;
    vertical-align: middle;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
}

.barra-topo .logo img {
    width: 100%;
}

.barra-topo a {
    text-decoration: none;
}

.nav-simple {
    background: #f0f0f0;
    padding: 1em;
    margin-bottom: 4em;
    margin-top: 4em;
}

.nav-simple:after {
  content: '';
  display: block;
  clear: both;
}

.nav-simple-item {
  font-size: 1.25em;
  line-height: 1.5;
  text-decoration: none;
  max-width: 320px;
  width: 45%;
}

.nav-simple-item:first-child {
  float: left;
  text-align: left;
}

.nav-simple-item:last-child {
  float: right;
  text-align: right;
}

.nav-simple-type {
  color: #888;
  font-size: .7em;
  padding-bottom: .4em;
  text-transform: uppercase;
}

.nav-simple-chapter:visited {
  color: #551A8B;
}

.nav-simple-chapter {
  color: #00E;
  display: block;
}

.comunidade {
  margin-top: 3em;
}

.comunidade-chamada {
  color: #222;
  margin-bottom: 2em;
}
.comunidade-chamada {
  line-height: 1.5;
  font-size: 2.2em;
  font-weight: 400;
}

.comunidade-itens {
  padding: 0;
  list-style-type: none;
  margin-left: -3.3333%;
  margin-bottom: 3em;
}

.comunidade-item {
  background: #555;
  display: inline-block;
  position: relative;
  margin-left: 3.3333%;
  margin-bottom: 3.3333%;
  line-height: 110px;
  height: 110px;
  width: 30%;
}

.comunidade-item a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.comunidade-item .sp-comunidade {
  position: absolute;
  top: 50%;
  left: 9%;
}

.comunidade-item h3 {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
  font-family: Arial,sans-serif;
  font-size: 1.9em;
  font-weight: 400;
  text-align: right;
  padding-left: 35%;
  padding-right: 9%;
  width: 100%;
}

.sp-comunidade-blog, .sp-comunidade-editora, .sp-comunidade-facebook, .sp-comunidade-newsletter, .sp-comunidade-online, .sp-comunidade-twitter {
  display: inline-block;
  position: relative;
  line-height: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.sp-comunidade-blog:before, .sp-comunidade-editora:before, .sp-comunidade-facebook:before, .sp-comunidade-newsletter:before, .sp-comunidade-online:before, .sp-comunidade-twitter:before {
  content: '';
  display: block;
  float: left;
}

.sp-comunidade-blog:after, .sp-comunidade-editora:after, .sp-comunidade-facebook:after, .sp-comunidade-newsletter:after, .sp-comunidade-online:after, .sp-comunidade-twitter:after {
  content: '';
  display: block;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.comunidade-blog {
  background-color: #f90;
}

.comunidade-item .sp-comunidade-blog {
  margin-top: -37px;
}

.comunidade-item .sp-comunidade-blog {
  width: 72px;
}

.sp-comunidade-blog:before {
  padding-top: 102.7397%;
}

/*.svg .sp-comunidade-blog:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…85%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-blog:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/blog.1398375902.png);
}

.comunidade-online {
  background-color: #4a4a4a;
}

.comunidade-item .sp-comunidade-online {
  margin-top: -35px;
}

.comunidade-item .sp-comunidade-online {
  width: 90px;
}

.sp-comunidade-online:before {
  padding-top: 80.4597%;
}

/*.svg .sp-comunidade-online:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…43%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-online:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/online.1398375902.png);
}

.comunidade-facebook {
  background-color: #3b5998;
}

.comunidade-item .sp-comunidade-facebook {
  margin-top: -37px;
  left: 14%;
}

.comunidade-item .sp-comunidade-facebook {
  width: 42px;
}

.sp-comunidade-facebook:before {
  padding-top: 185%;
}

/*.svg .sp-comunidade-facebook:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…46%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-facebook:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/facebook.1398375902.png);
}

.comunidade-newsletter {
  background-color: #f44f0b;
}

.comunidade-item .sp-comunidade-newsletter {
  margin-top: -27px;
  left: 1%;
}

.comunidade-item .sp-comunidade-newsletter {
  width: 80px;
}

.sp-comunidade-newsletter:before {
  padding-top: 69.6202%;
}

/*.svg .sp-comunidade-newsletter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…D%22ccccccccccccccccccccccc%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-newsletter:after {
  background-image: url(http://www.caelum.com.br/sprite/comunidade/newsletter.1398375902.png);
}

.comunidade-editora {
  background-color: #2a2a2a;
}

.comunidade-item .sp-comunidade-editora {
  margin-top: -39px;
  left: 12%;
}

.comunidade-item .sp-comunidade-editora {
  width: 62px;
}

.sp-comunidade-editora:before {
  padding-top: 129.5081%;
}

/*.svg .sp-comunidade-editora:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…29%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-editora:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/editora.1398375748.png);
}

.comunidade-twitter {
  background-color: #00aced;
}

.comunidade-item .sp-comunidade-twitter {
  margin-top: -36px;
}

.comunidade-item .sp-comunidade-twitter {
  width: 85px;
}

.sp-comunidade-twitter:before {
  padding-top: 81.1111%;
}

/*.svg .sp-comunidade-twitter:after {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20enco…0%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}*/

.sp-comunidade-twitter:after {
  background-image: url(http://www.caelum.com.br//sprite/comunidade/twitter.1398375902.png);
}




.tubaina {
  color: #202020;
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  line-height: 1.6;
  padding: 8em .5em 0;
  max-width: 42em;
}

.tubaina .chapterHeader {
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 1.25;
}

.tubaina .book-chapter {
  font-size: 2.1em;
  margin: .5em 0 1em;
}

.tubaina .book-chapter + p em {
  display: block;
  font-style: italic;
  text-align: right;
}

.tubaina .book-chapter + p em:after {
  display: block;
  text-align: right;
}

.tubaina p {
  margin: 1.25em 0;
  text-align: left;
  text-indent: 1.25em;
}

.tubaina ol, .tubaina ul {
  list-style-position: inside;
  margin: 1.25em 0;
}

.tubaina li {
  margin: 1em 0;
}

.tubaina h2 {
  font-size: 1.3em;
  font-variant: small-caps;
  line-height: 1.35;
  padding-top: 1.5em;
}

.tubaina img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  width: 100%; /* o max-width pode ser sobreescrito via style */
}

.tubaina blockquote {
    border: 1px solid #000;
    margin: 1.5em 0;
    padding: 1.1em;
    display: block;
}

.tubaina code {
  font-family: monospace,serif;
  font-size: 1.15em;
}

.tubaina pre {
    font-family: monospace,serif;
}

.tubaina pre code, .tubaina pre kbd, .tubaina pre pre, .tubaina pre samp, .tubaina pre span {
  font-family: monospace,serif;
  font-size: 1em;
}
