<!DOCTYPE HTML>
<html lang="pt-BR" {% block htmlTag %}{% endblock %}>
    {{ htmlSnippet("html:start")|default("") }}
    <head>
        {{ htmlSnippet("head:start")|default("") }}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">       
        {% block head %}{% endblock %}
        {{ htmlSnippet("head:end")|default("") }}
    </head>
    <body>
        
        <script>
            (function(d){
                var s = d.createElement('script'); s.async = true;
                s.src = "{{ staticBase }}/plugins/gitbook-plugin-caelum-tema/apostila-aberta.js";
                var f = d.getElementsByTagName('script')[0]; f.parentNode.appendChild(s, f);
            })(document);
        </script>
        {{ htmlSnippet("body:start")|default("") }}
        {% block style %}{% endblock %}
        {% block content %}{% endblock %}


        <!-- Google remarketing tag -->
        <script>
        var google_conversion_id = 995678627;
        var google_conversion_label = "DYcgCO3T_gMQo7Pj2gM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        </script>
        <script src="//www.googleadservices.com/pagead/conversion.js"></script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
        src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/995678627/?value=0&amp;label=DYcgCO3T_gMQo7Pj2gM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

        <!-- Mailchimp -->
        <script>
        var $mcGoal = {'settings':{'uuid':'422bed2b74623ede65048a641','dc':'us1'}};
        (function() {
        var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
        sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
        })();
        </script>

        <!-- RD Station -->
        <script src="https://d335luupugsy2.cloudfront.net/js/lead-tracking/stable/lead-tracking.min.js"></script>
        <script>
        LeadTracking.init({ token: '4b7bbfbbbe5c7e29f1c12ecb3b59096b' });
        </script>
        {{ htmlSnippet("body:end")|default("") }}
    </body>
    {{ htmlSnippet("html:end")|default("") }}
</html>
