<!DOCTYPE HTML>
<html lang="pt-BR" {% block htmlTag %}{% endblock %}>
    {{ htmlSnippet("html:start")|default("") }}
    <head>
        {{ htmlSnippet("head:start")|default("") }}

        {% if progress.current.next and progress.current.next.path %}
        <link rel="next" href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" />
        {% endif %}
        {% if progress.current.prev and progress.current.prev.path %}
        <link rel="prev" href="{{ basePath }}/{{ progress.current.prev.path|mdLink }}" />
        {% endif %}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <script>
            if (location.protocol != "https:" && location.hostname == "www.caelum.com.br")
                location.href = "https:" + location.href.substring(location.protocol.length);

            document.documentElement.className = 'js ' + (!!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg', "svg").createSVGRect ? 'svg ':'no-svg ') + 'ratio' + (!!(devicePixelRatio > 1.3) ? '2x ' : '1x ');
        </script>
        
        <!-- Facebook -->
        <meta property="og:title" content="{% block title %}{% endblock %}">
        <meta property="og:image" content="https://www.caelum.com.br/{{ apostila['caelumsite_path'] }}/images/share.png">
        <meta property="og:site_name" content="Apostilas Caelum">
        <meta property="fb:app_id" content="140078819399376">
        
        <!-- Google+ -->
        <meta itemprop="name" content="{% block title %}{% endblock %}">
        <meta itemprop="image" content="https://www.caelum.com.br/{{ apostila['caelumsite_path'] }}/images/share.png">
        
        <!-- iOS webapp -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{ apostila['webapp_title'] }}">
        <link rel="apple-touch-icon" href="/{{ apostila['caelumsite_path'] }}/images/share.png">
        
        <script>
        if(("standalone" in navigator) && navigator.standalone){
            document.documentElement.className += ' ios-webapp'
        }
        </script>     
        {% block head %}{% endblock %}
        {{ htmlSnippet("head:end")|default("") }}
    </head>
    <body>
        
        <script>
            (function(d){
                var s = d.createElement('script'); s.async = true;
                s.src = "{{ staticBase }}/plugins/gitbook-plugin-caelum-tema/apostila-aberta.js";
                var f = d.getElementsByTagName('script')[0]; f.parentNode.appendChild(s, f);
            })(document);
        </script>
        {{ htmlSnippet("body:start")|default("") }}
        {% block style %}{% endblock %}
        
        {% block content %}{% endblock %}

        {% include './gitbook/partials/_comunidade.html' %}
        {% include './gitbook/partials/_trackers.html' %}
        {{ htmlSnippet("body:end")|default("") }}
    </body>
    {{ htmlSnippet("html:end")|default("") }}
</html>
